<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form id="codeForm" name="codeForm"  th:object="${codeForm}" >
	<table>
		<tr>
			<th>
				코드명 
			</th>
			<td>
				<input type="text" th:field="*{codename}"/>
			</td>
		</tr>
		<tr>
			<th>
				코드
			</th>
			<td>
				<input type="text" th:field="*{codecd}"/>
			</td>
		</tr>
		<tr>
			<th>사용여부 
			</th>
			<td>
				<input type="radio" th:field="*{useyn}" value ="Y" checked="checked"/>사용 
				<input type="radio" th:field="*{useyn}" value ="N"/>미사용 
			</td>
		</tr>
	</table>
   <!--  <button onclick="fnSubmit(); return false;" >입력</button> -->
   <a href="#" onclick = "fnSubmit(); return false;" >입력</a>
</form>
	<script th:inline="javascript">
		
		function fnSubmit(){
			var formValues = $("form[name=codeForm]").serialize() ;
			$.ajax({
				url : "/code/rest/codeForm",
				data: formValues,
				type : "POST",
				dataType: 'html',
				 success : function(data){
				 $('.result').text(data); },
				 error:function(request, status, error){
				 alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				 }
			});
		}
	</script>
</body>
</html>