<html xmlns:th="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
     
    <head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	
	</div>
	    <a href = "#none" onclick="fncOpenPopWrite(); return false;" target = "_blank">등록 </a>
	<script th:inline="javascript">
		
		function fncOpenPopWrite(){
			var url = "./codeForm";
            var name = "코드등록 ";
            var option = "width = 500, height = 500, location = no"
            window.open(url, name, option);	
            }
	
		function fncOpenPopView(){
		
		}
	
	</script>
</body>
</html>