<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- <a th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=${kakaokey}&redirect_uri={REDIRECT_URI}&response_type=code}">회원가입 </a> -->
<div th:if="${session.access_token != null}">
	<p>회원가입 되셨습니다.</p>
</div>
<a th:href="@{${kakaouri}}">회원가입</a>
<a th:href="@{${kakaouri}}">로그인</a>

<a th:href="@{https://developer-rooney.tistory.com}">글 상세보기</a>

</body>
</html>