<html xmlns:th="http://www.w3.org/1999/xhtml" 
	  xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
     
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <div layout:fragment="content">
	<ul>
	</ul>
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>게시글 번호</th>
				<th>title</th>
				<th>writer</th>
				<th>createdate</th>
				
			</tr>
		</thead>
		<tbody>
	
			<tr th:each="list,index : ${resultMap.list}" >
			<!-- 반복 오브젝트 명 , 변수명   -->
				<td>
					[[${index.index}]]
					[[${index.count}]]
					 <!--  jstl 의 c:forEach와 사용법이 같음   -->
				</td>
				<td>
					<span th:text="${list.id}"></span>
				</td>
				<td>
					<a th:href="@{./view(id=${list.id})}">
						
						<span th:text="${list.title}"></span>
						[[${list.title}]]// 
						<!-- 타임리프 사용 표현방식이다.  -->
					</a>
				</td>
				
				<td>
					<span th:text="${list.writer}"></span>
				</td>
				<td>
					<span th:text="${#temporals.format(list.createDate , 'yyyy-MM-dd HH:mm')}"></span>//
					<th:block th:text="${#temporals.format(list.createDate , 'yyyy-MM-dd HH:mm')}"/>
					<!-- th:block 는 컴파일 되면서사라져 -->
				</td>

			</tr>
		</tbody>
	
	</table>		
		<div sec:authorize="isAuthenticated()">
			<a th:href="@{./boardwrite}"> <span>작성</span> </a>
		</div>	
	</div>
</html>