<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>게시글 번호</th>
				<th>title</th>
				<th>writer</th>
				<th>createdate</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="list,index : ${resultMap.list}" >
				<td>
					<span th:text="${list.id}"></span>
				</td>
				<td>
					<a th:href="@{./view(id=${list.id})}">
						<span th:text="${list.title}"></span>
					</a>
				</td>
				
				<td>
					<span th:text="${list.writer}"></span>
				</td>
				<td>
				<!-- <span th:text="${#dates.format(list.createDate, 'yyyy-MM-dd HH:mm:ss') }"></span> -->
					<!--  <span th:text="${list.createDate}"></span>  -->
						 <!-- <span th:text="${#temporals.formatISO(list.createDate)}"></span>  -->
						 <span th:text="${#temporals.format(list.createDate , 'yyyy-MM-dd HH:mm')}"></span>
				</td>

			</tr>
		</tbody>
		<a th:href="@{./boardwrite}"> <span>작</span> </a>
	</table>


</body>
</html>