<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/joy/writeForm}" th:object="${JoyEntity}" method="post">

          
	<table>
		<tbody>
			<tr th:each="list, index : ${resultMap.list}" >
				<td>
					[[${list._id}]]
				</td>
				<td>
					<a th:href="@{./view(_id=${list._id})}">
						[[${list.name}]]
					</a>
				</td>
				<td>
					[[${list.createdon}]]
				</td>
			</tr>		
		</tbody>
	</table>
	<a th:href="@{./writeForm}"> <span>작성</span> </a>
</form>
</body>
</html>